<h1 class="burgerHeading">Welcome to Eat Da Burger!</h1>

<main class="container">

    <section class="row">
        <article class="col-md-10" class="card" id="burgersList">
            <h2>Burgers Ready to Devour</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </article>
    </section>
    <section class="row">
        <article class="col-md-10" id="burgerDevour">
            <div class="card">
                <h2>Get In My Belly!</h2>

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-10" id="addBurger">
            <h3>Place Your Burger Order Here: </h>
                <div class="card">
                    <form class="create-form">

                        <div class="form-group">
                            <label for="bu">Create Your Burger:</label>
                            <input type="text" id="bu" name="name">
                        </div>

                        <div class="form-group">
                            <label for="bu">Get In My Belly!</label><br>
                            <input type="radio" name="devoured" value="1" checked> Order Up<br>
                            {{!-- <input type="radio" name="devoured" value="0"> Order Up --}}
                        </div>

                        <button type="submit">Order Burger</button>
                    </form>
                </div>
        </article>
    </section>

</main>